{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'cadastro' %}" method="POST">
                    {% include 'partials/_forms.html' %}
                    <div>
                        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Cadastrar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}
{% include 'partials/_footer.html' %}