{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'nova_imagem' %}" method="POST" enctype="multipart/form-data">
                    {% include 'partials/_forms.html' %}
                    <div>
                        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Nova Imagem</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}
